{% extends 'base.html.twig' %}

{% block title %}Hello ProductListController!{% endblock %}

{% block body %}
    <div class="container">
        <h2>Touts Nos Produits</h2>
    </div>

    <div class="product_list">
        {% for product in products %}

        <div class="card {{ product.id }}" style="width: 18rem;">
            <img src="{{ vich_uploader_asset(product, 'imageFile') }}" class="card-img-top game_img" alt="image article">
            <div class="card-body">
                <h5 class="card-title">Horizon Forbidden West</h5>
                <p class="card-text">Plus de 100 offres differentes pour Horizon Forbidden West.</p>
                <a href="/product/{{ product.id }}" class="btn btn-dark">Voir les Offres</a>
            </div>
        </div>
        {% endfor %}


    </div>
{% endblock %}
