{% extends 'base.html.twig' %}


{% block body %}
    <div class="container">
        <h2>Touts Nos Produits</h2>
    </div>

    <div class="product_list">
        <div class="card" style="width: 18rem;">
            <img src="{{ vich_uploader_asset(product, 'imageFile') }}" class="card-img-top" alt="image article">
            <div class="card-body">
                <h5 class="card-title">{{ product.product }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <a href="#" class="btn btn-dark">Voir les Offres</a>
            </div>
        </div>
    </div>

{% endblock %}
